header {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 350%;
  padding-right: 20px;
}

li {
    text-align: center;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
}

.nav2 li {
    margin-right: 5px;
    margin-left: 42px;
    padding-left: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: x-large;
}    
div {
	text-align: center;
	padding-left: 3px;
	padding-top: 12px;

}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
 

}